.carousel-inner{
    height: 500px;
cursor: grab;

}
.carousel-inner .item img{
    width: 100%;
    height: 500px;
}
.carousel-inner h1{
font-size: 48px;
margin-bottom: 0;
font-weight: 400;
font-family: pacifico,cursive;
animation-delay: .5s;
-webkit-animation-delay: .5s;
}
.carousel-inner h2{
font-size: 70px;
margin-bottom: 20px;
animation-delay: .6s;
-webkit-animation-delay: .6s;
font-family: lato,sans-serif;
font-weight: 700;
}
.carousel-inner p{
color: #fff;
font-size: 24px;
font-weight: 300;
animation-delay: .7s;
-webkit-animation-delay: .7s;

}
/*--content-top--*/
.content-top h1{
	color:#000;
	font-size: 2.2em;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
 margin-bottom: 0.5em;
}
.content-top {
	text-align:center;
	padding:4em 0;
}
.grid-top p{
  font-size: 1.1em;
  margin: 0.3em 0 0;
  font-weight: 500;
  text-transform: uppercase;
}
.grid-top p a{
	  color: #000;
  text-decoration: none;
}

.grid-in {
  padding: 2em 0 0;
}
/*--//content-top--*/
/*--//content--*/
.col-md2 {
    padding: 30px 0 0;
  }
  .men1{
      padding: 0 15px 0 0;
  }
  .men2{
      padding: 0 0px 0 15px;
  }
  .content-top-bottom h2{
        color: #000;
    font-size: 2.2em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-bottom: 1.5em;
    text-align: center;
   text-transform: uppercase;
  }
  .b-link-stripe{
      position:relative;
      display:inline-block;
      vertical-align:top;
      font-weight: 300;
      overflow:hidden;
      width: 100%;
  }
  .b-link-stripe .b-wrapper{
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      text-align:center;
      color:#ffffff;
      overflow:hidden;
  }
  
  .b-animate-go{
      text-decoration:none;
  }
  .b-animate{
      transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      visibility: hidden;
      font-size:1.1em;
      font-weight:700;
  }
  .b-animate img{
      margin-top: 4%;
      display: -webkit-inline-box;
  }
  .b-animate span{
      display:block;
      font-size: 2em;
      padding-top: 5em;
      display: block;
      font-weight: 500;
  }
  
  /* lt-ie9 */
  .b-animate-go:hover .b-animate{
      visibility:visible;
  }
  .b-from-left{
      position: relative;
      left: -100%;
      background: rgba(239, 95, 33, 0.64);
    background-size: 100% 100%;
    top: 0px;
    margin: 0;
    min-height: 356px;
  }
  .grid-top:hover .b-from-left{
      left:0;
  }
  .grid-top{
      position: relative;
  }
  /*----*/
  .owl-carousel a{
    display: block;
    text-align: center;
    font-weight: bold;
       
  }