body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* font-size: 15px;
  line-height: 1.8; */
  color: #000; }

 h2 {
  color: #000; }

.btn.btn-primary, .btn.btn-secondary{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 1rem; }
  .btn.btn-primary {
    color: #fff;
    border-width: 100%; 
    width: 100%;
    }
  .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    border-color: #ffce3a;
    background: #ffce3a; }
  
  .btn:hover {
    text-decoration: none; }

  .btn.btn-primary:hover{
        
    border: thin #1c2630 solid;
    color:#1c2630 ;
    font-weight: bold;  
  }

  .btn.btn-secondary:hover{
        
    border: thin #1c2630 solid;
    color:#1c2630 ;
    font-weight: bold;  
  }

button {
  margin-bottom: 2em;
  /* width: 100%; */
}
.btn{
  white-space: normal;
  /* width: 100%; */
  text-align: justify;
} 
.btn p{
  text-align: justify;
}
.answer p{
text-align: justify;
}
.btn.btn-secondary{
background-color:#FFFF99;
/* opacity: 70%; */
color: #000;
width: 100%; 

}
.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus {
background: rgb(125, 180, 50); 
font-weight: bold;
}

#answer2,
#answer3,
#answer4,
#answer5,
#answer6,
#answer7,
#answer8,
#answer9,
#answer10,
#answer11,
#answer12,
#answer13,
#answer14,
#answer15,
#answer16
{
    display: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

#faqs{
  padding: 2rem 0;
}
.faqsImg img{
  width: 100%;
}